.play1 {
    position: relative;
    top: 0px;
    text-align: center;
    height: 220px;
}

.play11 {
    position: relative;
    text-align: center;
    height: 100px;
}

.item {
    position: relative;
    text-align: center;
    top: 0px;
}

.item11 {
    text-align: center;
}

h6 {
    font-size: 12px;
}

.petit {
    font-size: 11px;
}