<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Bienvenue</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen style="margin-top:20px;">
    <div class="play1">
        <img src="assets/orbus.jpg" width="80" height="70">
        <h6>Plateforme digitale d'accès aux services <br/> financiers en zone UEMOA</h6>
        <!-- <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Profile connecté</ion-card-subtitle>
                <ion-card-title>Adama seye</ion-card-title>
            </ion-card-header>
            <ion-card-content> -->
        <p class="petit">Profile connecté:</p>
        <p>Adama SEYE</p>
        <ion-avatar style="margin:auto;">
            <img class="item11" src="assets/user.png" width="50" height="70">
            <!--  <p class="petit">Dernière connexion: aujourd'hui</p> -->
        </ion-avatar>

        <!--  </ion-card-content>
        </ion-card> -->

    </div>
    <div class="ion-padding" style="margin-top:5px;">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <div>
                        <ion-card>
                            <ion-card-header>
                                Agriculture
                            </ion-card-header>

                            <ion-card-content>
                                <div>
                                    <img src="assets/agriculture.jpg" width="200" height="80">
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle>Digital</ion-card-subtitle>

                            </ion-card-header>

                            <ion-card-content>
                                <div>
                                    <img src="assets/techno.jpg" width="200" height="80">
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>

                    <div>
                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle>Digital</ion-card-subtitle>

                            </ion-card-header>

                            <ion-card-content>
                                <div>
                                    <img src="assets/techno.jpg" width="200" height="80">
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </div>


                </ion-col>


                <ion-col>

                    <div>
                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle>Elevage</ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                                <div>
                                    <img src="assets/rubon.jpg" width="200" height="80">
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </div>


                </ion-col>

            </ion-row>
        </ion-grid>

    </div>
</ion-content>